.graphic {
    .circle-icon {
        &.blue-bg {
            background-color: @light-blue;
        }
        &.green-bg {
            background-color: @green;
        }
        &.red-bg {
            background-color: @red;
        }
        &.gray-bg {
            background-color: @gray;
        }
    }
    .circle-icon-large {
        width:74px;
        height:74px;
        border-radius: 50%;
    }
    .circle-icon-mini {
        width:42px;
        height:42px;
        border-radius: 50%;
    }
    & >.num {
       font-size:14px;
        color:#666;
    }
    
    

}
.graphic-horizontal {
    & > .desc {
        color:#333;
        font-size:36px;
    }
}
.graphic-vertical {

}