.day-theme .big-screen-content {
  margin-left: 340px;
  margin-right: 340px;
  min-height: 600px;
  padding: 15px;
  position: relative;
}
.day-theme .big-screen-content .big-screen-left {
  width: 340px;
  height: 100%;
  float: left;
  margin-left: -340px;
}
.day-theme .big-screen-content .big-screen-right {
  width: 340px;
  height: 100%;
  float: right;
  margin-right: -340px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.day-theme .big-screen-content .big-screen-center {
  margin: 0 24px;
  height: 100px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px #2e61b3;
}
.day-theme .module {
  width: 100%;
  padding: 12px;
  background: #fff;
  box-shadow: 0 0 20px #2e61b3;
  border-radius: 4px;
  margin-bottom: 10px;
}
.day-theme .module .module-header {
  position: relative;
}
.day-theme .module .module-header .module-title {
  margin: 0;
  color: #5b5b5b;
  font-size: 16px;
}
.day-theme .module .module-header .module-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: url('../../../imgs/big-screen/close-day-icon.png') center no-repeat;
  float: right;
}
.day-theme .chart {
  display: inline-block;
  vertical-align: middle;
}
.day-theme .pieChart1-right {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 70px;
}
.day-theme .pieChart1-right ul {
  height: 100%;
}
.day-theme .pieChart1-right ul li {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 8px;
}
.day-theme .pieChart1-right ul li:last-child {
  margin-right: 0;
}
.day-theme .pieChart1-right ul li .num {
  font-size: 30px;
  position: relative;
}
.day-theme .pieChart1-right ul li .num span {
  color: #a4d0ff;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 10px;
}
.day-theme .pieChart1-right ul li .bar {
  widows: 100%;
  height: 1px;
  background-color: #498ee0;
  position: relative;
}
.day-theme .pieChart1-right ul li .bar .bar-inner {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
}
.day-theme .pieChart1-right ul li .desc {
  color: #0863ff;
  font-size: 12px;
  margin-top: 10px;
}
.day-theme .pieChart1-right ul .red .num {
  color: #ff6673;
}
.day-theme .pieChart1-right ul .red .bar .bar-inner {
  background-color: #ff6673;
}
.day-theme .pieChart1-right ul .green .num {
  color: #54faae;
}
.day-theme .pieChart1-right ul .green .bar .bar-inner {
  background-color: #54faae;
}
.day-theme .pieChart1-right ul .orange .num {
  color: #ffd91a;
}
.day-theme .pieChart1-right ul .orange .bar .bar-inner {
  background-color: #ffd91a;
}
.day-theme .progress_bar1 .pro-bar {
  background: #c6deff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 4px;
  margin-bottom: 12px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
}
.day-theme .progress_bar1 .progress-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -40px;
  top: -20px;
}
.day-theme .wd-icon {
  background: url(../../../imgs/big-screen/wd-icon.png) center no-repeat;
}
.day-theme .cd-icon {
  background: url(../../../imgs/big-screen/cd-icon.png) center no-repeat;
  background-size: auto 100%;
}
.day-theme .kd-icon {
  background: url(../../../imgs/big-screen/kd-icon.png) center no-repeat;
}
.day-theme .progress_bar1 .progress_bar_title {
  /*color: hsl(218, 4%, 50%);*/
  color: #1269de;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  top: -28px;
  z-index: 1;
}
.day-theme .progress_bar1 .progress_number {
  float: right;
  margin-top: -24px;
}
.day-theme .progress_bar1 .progress-bar-inner {
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: width 1s linear 0s;
  transition: width 1s linear 0s;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}
.day-theme .progress_bar1 .progress-bar-inner > .bubble {
  width: 46px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  text-indent: 10px;
  position: absolute;
  right: -10px;
  bottom: 0;
  color: #fff;
  font-size: 12px;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
.day-theme .progress-bar-light-blue .progress-bar-inner,
.day-theme .progress-bar-primary .progress-bar-inner {
  background-color: #539af9;
  box-shadow: 0 0 4px #539af9;
}
.day-theme .progress-bar-light-blue .progress-bar-inner .bubble,
.day-theme .progress-bar-primary .progress-bar-inner .bubble {
  background: url(../../../imgs/big-screen/blue-bubble_04.png) center no-repeat;
}
.day-theme .progress-bar-green .progress-bar-inner,
.day-theme .progress-bar-success .progress-bar-inner {
  background-color: #33c27b;
  box-shadow: 0 0 4px #33c27b;
}
.day-theme .progress-bar-green .progress-bar-inner .bubble,
.day-theme .progress-bar-success .progress-bar-inner .bubble {
  background: url(../../../imgs/big-screen/green-bubble_03.png) center no-repeat;
}
.day-theme .progress-bar-red .progress-bar-inner,
.day-theme .progress-bar-danger .progress-bar-inner {
  background-color: #ec7669;
  box-shadow: 0 0 4px #ec7669;
}
.day-theme .progress-bar-red .progress-bar-inner .bubble,
.day-theme .progress-bar-danger .progress-bar-inner .bubble {
  background: url(../../../imgs/big-screen/red-bubble_03.png) center no-repeat;
}
.night-theme .big-screen-content {
  margin-left: 340px;
  margin-right: 340px;
  min-height: 600px;
  padding: 15px;
  position: relative;
}
.night-theme .big-screen-content .big-screen-left {
  width: 340px;
  height: 100%;
  float: left;
  margin-left: -340px;
}
.night-theme .big-screen-content .big-screen-right {
  width: 340px;
  height: 100%;
  float: right;
  margin-right: -340px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.night-theme .big-screen-content .big-screen-center {
  margin: 0 24px;
  height: 100px;
  background-color: #7d74e2;
  border-radius: 4px;
  box-shadow: 0 0 20px #2e61b3;
}
.night-theme .module {
  width: 100%;
  padding: 12px;
  background: -webkit-linear-gradient(left, #6c6dd6, #2e61b3);
  background: linear-gradient(left, #6c6dd6, #2e61b3);
  box-shadow: 0 0 20px #2e61b3;
  border-radius: 4px;
  margin-bottom: 10px;
}
.night-theme .module .module-header {
  position: relative;
}
.night-theme .module .module-header .module-title {
  margin: 0;
  color: #fff;
  font-size: 16px;
}
.night-theme .module .module-header .module-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: url('../../../imgs/big-screen/close-night-icon.png') center no-repeat;
  float: right;
}
.night-theme .chart {
  display: inline-block;
  vertical-align: middle;
}
.night-theme .pieChart1-right {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 70px;
}
.night-theme .pieChart1-right ul {
  height: 100%;
}
.night-theme .pieChart1-right ul li {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 8px;
}
.night-theme .pieChart1-right ul li:last-child {
  margin-right: 0;
}
.night-theme .pieChart1-right ul li .num {
  font-size: 30px;
  position: relative;
}
.night-theme .pieChart1-right ul li .num span {
  color: #a4d0ff;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 10px;
}
.night-theme .pieChart1-right ul li .bar {
  widows: 100%;
  height: 1px;
  background-color: #498ee0;
  position: relative;
}
.night-theme .pieChart1-right ul li .bar .bar-inner {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
}
.night-theme .pieChart1-right ul li .desc {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}
.night-theme .pieChart1-right ul .red .num {
  color: #ff6673;
}
.night-theme .pieChart1-right ul .red .bar .bar-inner {
  background-color: #ff6673;
}
.night-theme .pieChart1-right ul .green .num {
  color: #54faae;
}
.night-theme .pieChart1-right ul .green .bar .bar-inner {
  background-color: #54faae;
}
.night-theme .pieChart1-right ul .orange .num {
  color: #ffd91a;
}
.night-theme .pieChart1-right ul .orange .bar .bar-inner {
  background-color: #ffd91a;
}
.night-theme .progress_bar1 .pro-bar {
  background: #e3e3e3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 4px;
  margin-bottom: 12px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
}
.night-theme .progress_bar1 .progress-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -40px;
  top: -20px;
}
.night-theme .wd-icon {
  background: url(../../../imgs/big-screen/wd-icon.png) center no-repeat;
}
.night-theme .cd-icon {
  background: url(../../../imgs/big-screen/cd-icon.png) center no-repeat;
  background-size: auto 100%;
}
.night-theme .kd-icon {
  background: url(../../../imgs/big-screen/kd-icon.png) center no-repeat;
}
.night-theme .progress_bar1 .progress_bar_title {
  /*color: hsl(218, 4%, 50%);*/
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  top: -28px;
  z-index: 1;
}
.night-theme .progress_bar1 .progress_number {
  float: right;
  margin-top: -24px;
}
.night-theme .progress_bar1 .progress-bar-inner {
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: width 1s linear 0s;
  transition: width 1s linear 0s;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}
.night-theme .progress_bar1 .progress-bar-inner > .bubble {
  width: 46px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  text-indent: 10px;
  position: absolute;
  right: -10px;
  bottom: 0;
  color: #fff;
  font-size: 12px;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
.night-theme .progress-bar-light-blue .progress-bar-inner,
.night-theme .progress-bar-primary .progress-bar-inner {
  background-color: #539af9;
  box-shadow: 0 0 4px #539af9;
}
.night-theme .progress-bar-light-blue .progress-bar-inner .bubble,
.night-theme .progress-bar-primary .progress-bar-inner .bubble {
  background: url(../../../imgs/big-screen/blue-bubble_04.png) center no-repeat;
}
.night-theme .progress-bar-green .progress-bar-inner,
.night-theme .progress-bar-success .progress-bar-inner {
  background-color: #33c27b;
  box-shadow: 0 0 4px #33c27b;
}
.night-theme .progress-bar-green .progress-bar-inner .bubble,
.night-theme .progress-bar-success .progress-bar-inner .bubble {
  background: url(../../../imgs/big-screen/green-bubble_03.png) center no-repeat;
}
.night-theme .progress-bar-red .progress-bar-inner,
.night-theme .progress-bar-danger .progress-bar-inner {
  background-color: #ec7669;
  box-shadow: 0 0 4px #ec7669;
}
.night-theme .progress-bar-red .progress-bar-inner .bubble,
.night-theme .progress-bar-danger .progress-bar-inner .bubble {
  background: url(../../../imgs/big-screen/red-bubble_03.png) center no-repeat;
}
.night-theme .table__header {
  border-bottom: 1px solid #afbde4;
  padding-left: 10px;
}
.night-theme .table__header li {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: #a8b5dd;
  float: left;
}
.night-theme .table__header li.li1 {
  width: 30%;
}
.night-theme .table__header li.li2 {
  width: 20%;
}
.night-theme .table__header li.li3 {
  width: 30%;
}
.night-theme .table__header li.li4 {
  width: 20%;
}
.night-theme .table__body li {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.night-theme .table__body li ol {
  width: 100%;
  overflow: hidden;
  padding-left: 10px;
}
.night-theme .table__body li ol li {
  float: left;
}
.night-theme .table__body li ol li.li1 {
  width: 30%;
}
.night-theme .table__body li ol li.li2 {
  width: 20%;
}
.night-theme .table__body li ol li.li3 {
  width: 30%;
}
.night-theme .table__body li ol li.li4 {
  width: 20%;
}

/*# sourceMappingURL=big-screen.css.map */
